@import url("https://fonts.googleapis.com/css2?family=Jura:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

/* Button */

.Shop-btn {
  width: 200px;
  background-color: #b50420;
  border-radius: 5px;
  margin-top: 5%;
  border: none;
  font-size: 30px;
  font-weight: 500;
  color: white;
  font-family: "Jura", sans-serif;
  letter-spacing: 2px;
  padding: 0.5em;
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .Shop-btn {
    font-size: 1.3em;
    width: 8em;
    margin-top: 5%;
  }
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .Shop-btn {
    font-size: 1.3em;
    width: 8em;
  }
}

.Shop-btn:hover {
  cursor: pointer;
  background-color: #585858;
  transition: 0.3s;
}

/* Button */

.Page1 {
  height: 85vh;
}

/* Nav-bar styling */

.Nav-logo {
  width: 230px;
  margin-left: 10%;
}

.flex-nav {
  display: flex;
  margin-right: 0;
  height: 15vh;
}

.flex-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 23px;
  letter-spacing: 2px;
  font-weight: 600;
  width: 90%;
  justify-content: flex-end;
  font-family: "Jura", sans-serif;
}

.Nav-items {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 100%;
  margin-top: 1%;
  justify-content: flex-end;
  justify-content: space-around;
}

.list-item {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid transparent;
  transition: all 0.1s ease-out;
  padding-top: 35px;
}

.list-item:hover {
  color: rgba(255, 0, 0, 1);
  cursor: pointer;
  border-top: 2px solid rgb(255, 0, 0);
  transition: 0.2s;
}

.active {
  color: rgba(255, 0, 0, 1);
  /* border-top: 1px solid rgb(255, 0, 0); */
}

@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .flex-nav {
    display: none;
  }
}

/* Nav-bar styling */

/* Carousel */

.carousel {
  overflow: hidden;
  display: flex;
  position: relative;
  width: 100%;
  height: 75vh;
  border: none;
  border: solid black 7px;
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .carousel {
    height: 65vh;
    margin-top: 5%;
  }
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .carousel {
    height: 63vh;
    margin-top: 6.4em;
  }
}

.slide {
  flex-basis: 100%;
  position: absolute;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .slide img {
    object-fit: cover;
  }
}

.slide.active {
  opacity: 1;
}

/* Carousel */

.flexContainer {
  font-family: "Jura", sans-serif;
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
}

.firstPageTxt {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  flex-direction: row;
  padding: 20px;
  text-align: center;
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .firstPageTxt {
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
    text-align: start;
    align-items: flex-start;
  }
}

@media screen and (min-device-width: 481px) and (max-device-width: 651px) {
  .firstPageTxt {
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
    text-align: start;
    align-items: flex-start;
  }
}

.WelcomeTxt {
  position: absolute;
  color: rgb(0, 0, 0);
  font-family: "Jura", sans-serif;
  background-color: white;
  opacity: 0.6;
  padding: 10px;
  border-radius: 3px;
}

.FirstPageLogo {
  height: 30px;
  margin-right: 20px;
}

.Flex1,
.Flex2 {
  display: flex;
  padding: 10px 60px;
  align-items: center;
}

/* Hamburger Menu */

.hamburger-menu {
  display: none;
}

@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .hamburger-menu {
    display: flex;
    align-items: center;
    margin: 1% 1%;
    justify-content: center;
    width: 100vw;
  }
}

.hamburger-menu .menu-logo {
  display: flex;
  align-items: center;
  margin-right: 1.5em;
}

.hamburger-menu img {
  width: 15%;
  cursor: pointer;
  margin-left: 1.5em;
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .hamburger-menu img {
    width: 5em;
    display: flex;
    align-items: center;
    position: absolute;
    right: 2em;
    top: 1em;
  }
}

.hamburger-menu .SannidalLogo {
  margin-right: 1.5em;
}

.hamburger-menu .SannidalLogo img {
  width: 70%;
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .hamburger-menu .SannidalLogo img {
    width: 15em;
    display: flex;
    align-items: center;
    position: absolute;
    left: 1em;
    top: 0.1em;
  }
}

.hamburger-menu ul {
  display: none;
  position: absolute;
  height: 50%;
  top: 18%;
  background-color: #000000f1;
  list-style: none;
  padding: 1.5em;
  margin: 0;
  width: 100vw;
  border: 1px solid #ddd;
  z-index: 9999;
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .hamburger-menu ul {
    height: 45%;
  }
}

.hamburger-menu ul.open {
  display: block;
}

.hamburger-menu li {
  display: block;
  padding: 10px 20px;
  border-bottom: 1px solid #dddddd;
  text-align: center;
  margin-top: 2%;
}

.hamburger-menu li a {
  color: white;
  text-decoration: none;
  font-family: "Jura", sans-serif;
  letter-spacing: 2px;
}

.hamburger-menu li a:hover {
  color: grey;
  transition: 0.3s;
}

/* Hamburger Menu */

/* Page 2 */

.Page2 {
  height: 85vh;
  border-top: solid black 5px;
  display: flex;
}

@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .Page2 {
    border-top: none;
  }
}

@media screen and (min-device-width: 320px) and (max-device-width: 481px) {
  .TireBanner {
    height: 18%;
    position: absolute;
    width: 100vw;
    object-fit: cover;
    border-bottom: solid black 5px;
    border-top: solid black 5px;
  }
}

@media screen and (min-width: 768px) {
  .TireBanner {
    display: none;
  }
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .TireBanner {
    height: 17%;
    position: absolute;
    width: 100vw;
    object-fit: cover;
    border-bottom: solid black 5px;
    border-top: solid black 5px;
    margin-top: 6em;
  }
}

.Page2-img {
  height: 85vh;
  object-fit: cover;
  border: black solid 3px;
  width: 70%;
}

@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .Page2-img {
    display: none;
  }
}

.Page2-imgbox {
  width: 50%;
  height: 84vh;
  margin: 0;
}

@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .Page2-imgbox {
    display: none;
  }
}

.Dekk-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Jura", sans-serif;
  width: 37%;
  margin-top: 2%;
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .Dekk-info {
    width: 100vw;
    margin: 1.5em;
  }
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .Dekk-info {
    width: 100vw;
    margin-top: 4em;
  }
}

.Dekk-txt {
  font-size: 3em;
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .Dekk-txt {
    font-size: 1.7em;
    margin-top: 145%;
  }
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .Dekk-txt {
    font-size: 1.8em;
    margin-top: 225%;
  }
}

.Dekk-info-txt {
  margin-top: 1em;
  font-size: 1.3em;
  text-align: center;
  letter-spacing: 0.1em;
  line-height: 35px;
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .Dekk-info-txt {
    font-size: 0.9em;
    align-items: center;
    text-align: center;
    line-height: 1.6em;
    margin-top: 7%;
    font-weight: 500;
  }
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .Dekk-info-txt {
    font-size: 1.1em;
    line-height: 1.4em;
    margin: 1em 1em 0 1em;
  }
}

/* Page 2 */

/* Page 3 */

.Page3 {
  height: 85vh;
  border-top: solid black 5px;
  display: flex;
  width: 100vw;
  margin: 0;
  justify-content: flex-end;
}

@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .Page3 {
    border-top: none;
    display: flex;
    justify-content: center;
  }
}

.Page3-img {
  height: 85vh;
  object-fit: cover;
  border: black solid 3px;
  width: 80%;
}

@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .Page3-img {
    display: none;
  }
}

.Page3-imgbox {
  display: flex;
  width: 50%;
  height: 85vh;
  margin: 0;
  justify-content: flex-end;
}

@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .Page3-imgbox {
    display: none;
  }
}

.Felg-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  font-family: "Jura", sans-serif;
  width: 37%;
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .Felg-info {
    width: 100vw;
    font-size: 1em;
  }
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .Felg-info {
    justify-content: center;
    width: 100vw;
  }
}

.Felg-txt {
  font-size: 2em;
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .Felg-txt {
    font-size: 1.7em;
    margin-top: 200%;
  }
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .Felg-txt {
    font-size: 1.8em;
    margin-top: 8em;
  }
}

.Felg-info-txt {
  margin-top: 1em;
  font-size: 1.3em;
  text-align: center;
  letter-spacing: 0.1em;
  line-height: 35px;
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .Felg-info-txt {
    font-size: 0.9em;
    align-items: center;
    text-align: center;
    margin-top: 5%;
    display: flex;
    margin: 1em;
    font-weight: 500;
    line-height: 1.6em;
  }
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .Felg-info-txt {
    font-size: 1.1em;
    line-height: 1.4em;
    margin: 1em 1em 0 1em;
  }
}

/* Page 3 */

/* Page 4 */

.Page4 {
  height: 85vh;
  border-top: solid black 5px;
  display: flex;
}

@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .Page4 {
    border-top: none;
  }
}

@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .Page4 {
    display: flex;
    justify-content: center;
  }
}

.Page4-img {
  height: 85vh;
  object-fit: cover;
  border: black solid 3px;
  width: 70%;
}

@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .Page4-img {
    display: none;
  }
}

.Page4-imgbox {
  width: 50%;
  height: 85vh;
  margin: 0;
  display: flex;
  align-items: center;
}

@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .Page4-imgbox {
    display: none;
  }
}

.List-dekkhotell {
  color: white;
  background-color: rgba(14, 31, 37, 0.7);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 7px;
  font-family: "Jura", sans-serif;
  width: 35%;
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .List-dekkhotell {
    display: none;
  }
}

.Price-list {
  list-style: none;
  letter-spacing: 2px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .Price-list {
    font-size: 1em;
    font-weight: 600;
    line-height: 2em;
    background-color: #000000ec;
    display: flex;
    flex-direction: column;
    bottom: 0;
    width: 100%;
    position: absolute;
    padding: 1em;
    color: white;
  }
}

@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .Price-list1 {
    font-size: 1em;
    font-weight: 600;
    line-height: 2em;
    background-color: #000000ec;
    display: flex;
    flex-direction: column;
    bottom: 0;
    width: 100%;
    position: absolute;
    padding: 1em;
    color: white;
    list-style: none;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .Price-list1 {
    display: none;
  }
}

.PriceTxt {
  font-size: 30px;
  padding: 20px;
}

.Dekkhotell-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  font-family: "Jura", sans-serif;
  width: 37%;
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .Dekkhotell-info {
    margin: 0 auto;
    margin-top: 5%;
    font-weight: 500;
    width: auto;
  }
}

.Dekkhotell-txt {
  font-size: 40px;
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .Dekkhotell-txt {
    margin: 0 auto;
    text-align: center;
    font-size: 1.5em;
  }
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .Dekkhotell-txt {
    font-size: 1.8em;
    margin-top: 3.8em;
    text-align: center;
    width: 100vw;
  }
}

.Dekkhotell-info-txt {
  margin-top: 30px;
  font-size: 1.3em;
  text-align: center;
  letter-spacing: 2px;
  line-height: 35px;
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .Dekkhotell-info-txt {
    font-size: 0.9em;
    align-items: center;
    text-align: center;
    margin-top: 5%;
    display: flex;
    margin: 1em;
    font-weight: 500;
    line-height: 1.6em;
  }
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .Dekkhotell-info-txt {
    font-size: 1.1em;
    line-height: 1.4em;
    width: 100vw;
    padding: 1em;
  }
}
/* Page 4 */

/* Page 5 */

.Page5 {
  height: 83vh;
  border-top: solid black 5px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Page5-img {
  object-fit: cover;
  border: black solid 3px;
  height: 40vh;
  margin-top: 5%;
}

.Om-info {
  display: flex;
  flex-direction: column;
  margin-top: 4%;
  font-family: "Jura", sans-serif;
  width: 37%;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
}

.FacebookIcon {
  margin-bottom: 0;
}

/* Footer */

.Footer-logo {
  color: white;
  font-size: 15px;
  font-family: "Jura", sans-serif;
}

.Footer {
  display: flex;
  background-color: rgba(0, 0, 0, 0.956);
  justify-content: center;
  width: 100vw;
  padding: 30px;
  align-items: center;
  justify-content: space-around;
  align-items: flex-start;
  height: 30vh;
  margin-top: 10vh;
}

.material-symbols-outlined {
  color: white;
  font-size: 40px;
  padding: 15px;
}

.Mail,
.Phone,
.AddresBox,
.Clock {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Footer */

/* Page 5 */

/*For tablets and ipads: 481px to 768px*/
